@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&display=swap");

/* font-family: "Nerko One", cursive; */

/*  font-family: "Kanit", sans-serif; */

/* Header */

header {
  width: 1440px;
  background-color: #2a9d8f;
  margin: auto;
  padding: 38px 130px;
}

.logo_link {
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 689px;
}

.logo_image {
  width: 100%;
  height: 100%;
}

.header_nav {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
}

.header_middle_li {
  margin-inline: 80px;
}

.header_a {
  font-family: "Nerko One", cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #ffffff;
}

/* Section */

.section_main {
  width: 1440px;
  margin: auto;
  background-color: #d4f3f0;
  padding: 80px 130px;
}

.section_secondary {
  width: 460px;
  display: inline-block;
  vertical-align: top;
  margin-left: 116px;
}

.section_image {
  vertical-align: top;
}

.section_h3 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.005em;
  color: #06686e;
  margin-bottom: 32px;
}

.section_p {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 275;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #06686e;
  margin-bottom: 60px;
}

button {
  border: none;
  background-color: #2a9d8f;
  width: 112px;
  height: 46px;
  font-family: Kanit;
  font-size: 16px;
  font-weight: 275;
  line-height: 24px;
  color: #ffffff;
}

/* Article */

article {
  width: 1180px;
  margin: 80px auto;
}

.article_h3 {
  font-family: "Kanit", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #06686e;
  margin-bottom: 32px;
}

.article_p {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 275;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-align: justify;
  color: #06686e;
}

/* Footer */

footer {
  width: 1440px;
  background-color: #2a9d8f;
  margin: auto;
  padding: 38px 636px;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #ffffff;
}

.footer_nav {
  margin-top: 40px;
}

.footer_middle_li {
  margin-inline: 28px;
}

.footer_x_li {
  margin-right: 28px;
}

.icon_link {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.icon_img {
  width: 100%;
  height: 100%;
}

/*  */
